<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4>Dear <%= @order.user.last_name%>,</h4>
    <p>Thank you for buying with us!</p>
    <table class="table table-space">
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price Per Product</th>
      </tr>
      <% @order.carted_products.each do |carted_product| %>
      <tr>
        <td><%= carted_product.product.name %></td>
        <td><%= carted_product.quantity %></td>
        <td><%= carted_product.product.price %></td>
      </tr>
      <% end %>
    </table>
    <table class="table table-space">
      
        <ul>
          <li><strong>Order:</strong> <%= @order.id %></li>
          <li><strong>Subtotal:</strong> <%= @order.subtotal %></li>
          <li><strong>Tax:</strong> <%= @order.tax %></li>
          <li><strong>Total:</strong> <%= @order.total %></li>
        </ul>
    </table>
  </div>
</div>