<!DOCTYPE html>
<html>
  <head>
    <title>Newletter</title>
  </head>
  <body>
    <div class="container">
      <h3 class="title">
        <%= @post.title %>
      </h3>
      <p class="date">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong> <%=@post.user.first_name + " " + @post.user.last_name %></strong> | <span class="glyphicon glyphicon-calendar" aria-hidden="true">
        <small><%= Time.at(@post.created_at).strftime("%B %e, %Y") %></small> 
      <% if current_user && current_user.admin %>
      | <%= link_to 'Edit', edit_post_path(@post) %>
      | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
      </p>
      <div class="row"></div>
        <div class="col-md-10">
          
          
          <p class="body">
            <%= @post.body %>
          </p>
          <hr>
            <div id="comments">
            <% if @post.comments.empty? %>
            <p style="font-weight: bold; font-style: italic; font-size: 12px;"> <%=@post.comments.count %> comment yet! So, be the first to comment on this post!</p>
            <% else %>
              <h3><%= @post.comments.count%> comments</h3>
              <%= render @post.comments %>
              <% end %>

              <h3>Add a comment:</h3>
              <%= render "comments/form" %>
              </div>
    
        </div>
    </div>

  </body>
</html>

