<h1>Edit a Product</h1>

<div class="container-fluid">
  <%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
    Name of a Product: <input type="text" name="name" value="<%= @product.name %>"> 
  </div>
  <div>
    <p>Description</p>
     <textarea rows="4" cols="50" name="description"><%= @product.description %></textarea>
  </div>
  <div>
    Price: <input type="integer" name="price" value="<%= @product.price %>">
  </div>
  <div>
    <input type="submit" value="Update a Product"> <%= link_to "Cancel", product_path, class: "btn btn-default" %>
  </div>
<% end %>
</div>
