<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container">
  <div class="row">

    <h1 style="text-align: center;"></h1>
      <% @products.each_slice(3) do |products| %>
        <div class="row">
          <% products.each do |product| %>
              <div class="col-md-4" id="product_layout">
              <h4 class="product_name"><%= link_to product.name, product %></h4>
              <img src="<%= product.image %>" class="img-responsive" style="width: 200px; height: 250px;">
              <p class="seller_name">by <%= product.seller_profile.company_name %></p>
              <!-- <p><b>Description</b>: <%= product.description %></p> -->
              <b>Price</b>: Rwf <%= product.price %>
            </div>
      <% end %>
        </div>
        
      <% end %>
    </div>
          <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
  </div>
</body>
</html>
