<h1 style="text-align: center;"> Let's Enjoy What We Make</h1>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
  
  <%= button_to "Add New Product", "/products/new", class: "btn btn-primary", method: :get %>

<table class="table-striped">
  <% @products.each_slice(3) do |products| %>
    <div class="row">
    <div class="item">
        <% products.each do |product| %>
          <div class="col-md-4">
            <h2><%= link_to product.name, product %></h2>
            <img src="<%= product.images.last.url %>" class="img-responsive" style="width: 200px; height: 250px;">
            <p><b>Description</b>: <%= product.description %></p>
            <data> <b>Price</b>: <%= product.price %></data>
          </div>
        <% end %>
      
    </div>
    </div>
  <% end %>