<h1> Let's Enjoy What We Make</h1>

 <%= button_to "Add New Product", "/products/new", class: "btn btn-primary" , method: :get %>

<% @products.each_slice(3) do |products| %>

 <p> <% products.each do |product| %></p>
  <div class="col-md-4"></div>
    <strong> <p><%= link_to product.name, "/products/#{product.id}" %></p> </strong>
   <p> <img src="<%=product.images[0].url%>" class="img-responsive"></p>
   <p> <%= product.description %></p>
   <p> <%= product.price %></p>
  <% end %>
<% end %> d