<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
  
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="<%=@product.image_url %>" /></div>
              
            </div>
            <div>
            <% if current_user.admin %>
            <%= link_to "Edit a Product", edit_product_path, class: "btn btn-warning" %> 
            <%= link_to "Delete a Product", product_path, method: :delete, data: {confirm: "Do you want to delete this product?"}, class: "btn btn-danger" %>
              <% end %>
            </div>

          </div>
          <div class="details col-md-6">
            <h3 class="product-title"><%= @product.name %></h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <p class="product-description"><%= @product.description %></p>
            <h4 class="price">Current price:<span> Rwf <%= @product.price %></span></h4>
            <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
            <div>
            <h5 class="colors">colors:
              <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
              <span class="color green"></span>
              <span class="color blue"></span>
            <div class="action">
              <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
            </div>
                <%= form_tag "/carted_products", method: :post do %>
                  <div>
                  Quantity:
                  <select name="quantity">
                    <option><%= 1.upto(@product.quantity) do |i| %></option>
                    <option><%= i %></option>
                    <% end %>
                  </select>
                  </div>
                  <div>
                    <input type="hidden" name="product_id" value="<%= @product.id %>">
                  </div>
                  <div>    
                    <input type="submit" value="Add to cart!" class="btn btn-default">
                  </div>
                <% end  %>
            </div>
            </h5>
          </div>
        </div>
    </div>
  </div>
  </body>
</html>
