<!DOCTYPE html>
<html>
  <head>
    <title>MadeInRwanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Barrio|Josefin+Sans|Sansita" rel="stylesheet"> 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <div id="flipkart-navbar">
        <div class="container">
            <div class="row row1">
                <ul class="largenav pull-right">
                    <li class="upper-links"><a class="link" href="/posts">Blog</a></li>
                    <li class="upper-links">
                        <a class="links" href="">
                            <svg class="" width="16px" height="12px" style="overflow: visible;">
                                <path d="M8.037 17.546c1.487 0 2.417-.93 2.417-2.417H5.62c0 1.486.93 2.415 2.417 2.415m5.315-6.463v-2.97h-.005c-.044-3.266-1.67-5.46-4.337-5.98v-.81C9.01.622 8.436.05 7.735.05 7.033.05 6.46.624 6.46 1.325v.808c-2.667.52-4.294 2.716-4.338 5.98h-.005v2.972l-1.843 1.42v1.376h14.92v-1.375l-1.842-1.42z" fill="#fff"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="upper-links dropdown"><a class="links" href="https://github.com/chawlaaditya8/snippets">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li class="profile-li"><a class="profile-links" href="https://github.com/chawlaaditya8/snippets">Link</a></li>
                            <li class="profile-li"><a class="profile-links" href="https://github.com/chawlaaditya8/snippets">Link</a></li>
                            <li class="profile-li"><a class="profile-links" href="https://github.com/chawlaaditya8/snippets">Link</a></li>
                            <li class="profile-li"><a class="profile-links" href="https://github.com/chawlaaditya8/snippets">Link</a></li>
                            <li class="profile-li"><a class="profile-links" href="https://github.com/chawlaaditya8/snippets">Link</a></li>
                            <li class="profile-li"><a class="profile-links" href="https://github.com/chawlaaditya8/snippets">Link</a></li>
                            <li class="profile-li"><a class="profile-links" href="https://github.com/chawlaaditya8/snippets">Link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <% if current_user %>
            <div class="row row2">
                <div class="col-sm-2">
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"><%= current_user.name %></span></p>  
                </div>
                <% end %>
                <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                    <div class="row">
                        <%= form_tag "/searches", method: :post do %>
                        <input class="flipkart-navbar-input col-xs-11" type="text" placeholder="Search for Products, Brands and more" name="search_query">
                        <button type="submit" class="flipkart-navbar-button col-xs-1">
                            <svg width="15px" height="15px">
                                <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                            </svg>
                        </button>
                    </div>
                    <% end %>
                </div>
                <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 0 - Products<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                    </span>
              </li>
              <li>
            </div>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <div class="container" style="background-color: #2874f0; padding-top: 10px;">
            <span class="sidenav-heading">Home</span>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
        <a href="https://github.com/chawlaaditya8/snippets">Link</a>
        <a href="https://github.com/chawlaaditya8/snippets">Link</a>
        <a href="https://github.com/chawlaaditya8/snippets">Link</a>
        <a href="https://github.com/chawlaaditya8/snippets">Link</a>
    </div>
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "70%";
        // document.getElementById("flipkart-navbar").style.width = "50%";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.body.style.backgroundColor = "rgba(0,0,0,0)";
    }
    </script>

  </head>

  <body>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <%= yield %>
  </body>
</html>
