<!DOCTYPE html>
<html>
  <head>
    <title>MadeInRwanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Barrio|Josefin+Sans|Sansita" rel="stylesheet"> 
    <%= csrf_meta_tags %>
    <link  href="https://fonts.googleapis.com/css?family=Chewy|
    Permanent+Marker" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link  href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'ckeditor/ckeditor' %>


    
  </head>
 <body>
<!-- begin navbar -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="animated infinite rubberBand"></a>
      <a class="navbar-brand" href="/">MadeinRwanda<span></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">HOME<span class="sr-only">(current)</span></a></li>
          
          <ul class="nav navbar-nav navbar-right">
  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products?sort=asc">Price (Low to High)</a></li>
            <li><a href="/products?sort=desc">Price (High to Low)</a></li>
           <!--  <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      </ul>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
          
          <ul class="dropdown-menu">
            <% Category.joins(:products).distinct.each do |category| %>
              <li> <a href="#" ><%= link_to category.name, products_path(category: category.name)%></a></li>
            <% end %>
          </ul>
        </li>
      </ul>

       <%= form_tag "/searches", class: "navbar-form navbar-left" do %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search_input">
        <button style="background-color: #"><a class="btn-floating btn-small" role="button" ><i class="fa fa-search" align="center"></i></a></button>
        <% end %>
        </div>

      <!-- <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search_query">
        </div>
       <button><a class="btn-floating btn-small blue"><i class="fa fa-search"></i></a></button>
      </form> -->
       <ul class="nav navbar-nav navbar-right">
       <!-- 

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul> -->
         <% if user_signed_in? %>
              <li><a href="<%= signout_path %>" class=" nav-content-format" role="button" ><strong>Sign Out</strong></a></li>
               <li><a class="glyphicon glyphicon-shopping-cart" href="/carted_products">Cart<sup class="shopping_cart"><%= shopping_cart %></sup></a></li>
            <% else %>
              <li><%= link_to "Sign In", "/users/sign_in" %></li>
              <li><a class="glyphicon glyphicon-shopping-cart" href="/carted_products">Cart<sup class="shopping_cart"><%= shopping_cart %></sup></a></li>
            <% end %>
        </li>
      </ul>

    

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <!-- <input type="checkbox" id="menuToggle"> 
    <label for="menuToggle" class="menu-icon">&#9776;</label>

<header>
  <div id="brand">Let's Enjoy What We Make</div>
  <style type="text/css">
            * { padding: 0; margin: 0; }
            body {
              font-family: sans-serif;
            }

            a {
              text-decoration: none;
              color:#00A5CC;
            }
            
            li {
              list-style-type: none;
            }

            header {
              width: 100%;
              height: 50px;
              margin: auto;
              border-bottom: 1px solid #EEE;
            }

            #brand {
              float: left;
              line-height: 50px;
              color: #E5DAC0;
              font-size: 25px;
              font-weight: bolder;
            }

            nav {
              width: 100%;
              text-align: center;
            }

            .menu a {
              display: block; 
              padding: 15px 0; 
              border-bottom: 1px solid #B49755;
              color: #F0EADC;
              text-decoration: none;
            }

            .menu li:last-child a {
              border-bottom: none;
            }

            .menu a:hover {
              background: #E5DAC0;
              color: #FFF;
            }

            .menu {
              width: 240px;
              height: 100%;
              z-index: 1;
              position: absolute;
              background: #D9C9A3;
              left: -240px;
              transition: all .3s ease-in-out;
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;

            }

            .menu-icon {
              padding: 10px 20px;
              background: #E5DAC0;
              color: #987D3E;
              cursor: pointer;
              float: left;
              margin-top: 4px;
              border-radius: 5px;
            }
            #menuToggle {
              display: none;

            }

            #menuToggle:checked ~ .menu {
              position: absolute;
              left: 0;
            }

  </style> 
</header>

  <nav class="menu">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">WORK</a></li>
      <li><a href="#">INSPIRATION</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT</a></li>

    </ul>
  </nav> -->

<!--         <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script> 
        $(function(){
            $('#test').popover();​
        });
         </script>



 -->

 <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : ENV['FACEBOOK_KEY'],
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <body>
             <p>
          <% flash.each do |key, value| %>
          <% alert_class = case key
          when :notice then "success"
          when :alert then "danger"
          else key
           end %>
           <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <%= value %>
           <% end %>
           <% end %>
         </p>
    <%= yield %>

    <footer>
      <div class="site-footer">
        <div class="container">
            <div class="row">
              <div class="col-md-5">
              <p style="float: right; font-size: 18px; color:  #99ff99;">Enjoy What You Make</p>
              <h4 style="color:  #99ff99;">Contact Address</h4>
                <address>
                  Kigali Rwanda, <br>
                  Made in Rwanda Products,<br>
                  (+250)725085564
                </address>
              </div>
              </div>

            <div class="bottom-footer">
              <div class="col-md-5">© Copyright MadeinRwanda <%= Time.now.year %></div>
            <div class="col-md-7">
                  <ul class="footer-nav">
                      <li><a href="/">Home</a></li>
                      <% if current_user && current_user.seller_profile%>
                      <li><a href="/seller_profiles/<%= current_user.seller_profile.id %>">Your store</a></li>
                      <% elsif current_user && !current_user.seller_profile %>
                      <li><a href="/seller_profiles/new?user_id=<%= current_user.id %>">Sell With Us</a></li> 
                      <% end %>                  
                      <li><a href="#">Category</a></li>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/about">About Us</a></li>
                  </ul>
              </div>
            </div>
      </div>
    </footer>
  </body>
</html>
