<!DOCTYPE html>
<html>
  <head>
    <title>MadeInRwanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Barrio|Josefin+Sans|Sansita" rel="stylesheet"> 
    <%= csrf_meta_tags %>
    <link  href="https://fonts.googleapis.com/css?family=Chewy|
    Permanent+Marker" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link  href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <%#= render 'layouts/header' %>
      
  </head>
 <body>
<!-- begin navbar -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="animated infinite rubberBand" src="assets/logo.png" width="40px" height="40px"></a>
      <a class="navbar-brand" href="/">MadeinRwanda<span></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">HOME<span class="sr-only">(current)</span></a></li>
        <li><a href="/posts">BLOG</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES<span class="caret"></span></a>
          
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
              <li><a href="#"><%= category.name %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>

       <%= form_tag "/searches", class: "navbar-form navbar-right", method: :post do %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search_input">
        </div>
        <button><a class="btn-floating btn-small blue"><i class="fa fa-search"></i></a></button>
      <% end %>

      <!-- <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search_query">
        </div>
       <button><a class="btn-floating btn-small blue"><i class="fa fa-search"></i></a></button>
      </form> -->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <input type="checkbox" id="menuToggle"> 
    <label for="menuToggle" class="menu-icon">&#9776;</label>

<header>
  <div id="brand">Let's Enjoy What We Make</div>
  <style type="text/css">
            * { padding: 0; margin: 0; }
            body {
              font-family: sans-serif;
            }

            a {
              text-decoration: none;
              color:#00A5CC;
            }
            
            li {
              list-style-type: none;
            }

            header {
              width: 100%;
              height: 50px;
              margin: auto;
              border-bottom: 1px solid #EEE;
            }

            #brand {
              float: left;
              line-height: 50px;
              color: #E5DAC0;
              font-size: 25px;
              font-weight: bolder;
            }

            nav {
              width: 100%;
              text-align: center;
            }

            .menu a {
              display: block; 
              padding: 15px 0; 
              border-bottom: 1px solid #B49755;
              color: #F0EADC;
              text-decoration: none;
            }

            .menu li:last-child a {
              border-bottom: none;
            }

            .menu a:hover {
              background: #E5DAC0;
              color: #FFF;
            }

            .menu {
              width: 240px;
              height: 100%;
              z-index: 1;
              position: absolute;
              background: #D9C9A3;
              left: -240px;
              transition: all .3s ease-in-out;
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -ms-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;

            }

            .menu-icon {
              padding: 10px 20px;
              background: #E5DAC0;
              color: #987D3E;
              cursor: pointer;
              float: left;
              margin-top: 4px;
              border-radius: 5px;
            }
            #menuToggle {
              display: none;

            }

            #menuToggle:checked ~ .menu {
              position: absolute;
              left: 0;
            }

  </style> 
</header>

  <nav class="menu">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">WORK</a></li>
      <li><a href="#">INSPIRATION</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT</a></li>

    </ul>
  </nav>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script> 
        $(function(){
            $('#test').popover();​
        });
         </script>

  <body>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info " %>

      <% end %>
    <%= yield %>
  </body>
</html>
